/* 캘린더 컨테이너 */
.calendarContainer {
  height: 820px;
  width: 60%;
  margin: auto;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.calendar {
  height: 100%;
  padding: 5px;
}

/* 달력 기본 레이아웃 */
:global(.fc .fc-view-harness) {
  height: calc(100% - 30px) !important;
}

:global(.fc-daygrid-body) {
  height: 100% !important;
}

:global(.fc-daygrid-body-balanced) {
  width: 100%;
}

:global(.fc-daygrid-body table) {
  height: 100%;
}

:global(.fc-daygrid-day-frame) {
  min-height: 110px !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  box-sizing: border-box;
}

:global(.fc-day-top) {
  padding: 2px 4px;
}

:global(.fc-scroller) {
  overflow: hidden;
}

/* 헤더 스타일링 */
:global(.fc-col-header) {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 30px !important;
}

:global(.fc-scrollgrid-sync-table) {
  margin: 0 !important;
  border-spacing: 0 !important;
  height: 100% !important;
}

/* 이벤트 스타일링 */
:global(.fc-event) {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}

:global(.fc-event-title-container) {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

:global(.fc-event .fc-event-title) {
  padding: 0 5px;
  font-size: 12px;
}

/* 더보기 버튼 */
:global(.fc-more) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

/* 이벤트 타입별 스타일 */
:global(.program) {
  background-color: #66BB6A !important;
  color: #FFFFFF !important;
  border: 1px solid #388E3C !important;
}

:global(.support) {
  background-color: #FF7043 !important;
  color: #FFFFFF !important;
  border: 1px solid #D84315 !important;
}

:global(.schedule) {
  background-color: #81D4FA !important;
  color: #FFFFFF !important;
  border: 1px solid #039BE5 !important;
}

:global(.program),
:global(.support),
:global(.schedule) {
  border-radius: 7px;
}